img{
    height: 200px;
    width: 200px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.container{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}
a {
	/* background-color:black; */
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
    width:30%;
    height:5%;
}
a:hover{
    background-color: red;
}