body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* ----------Modal--------------------------- */
button{
    width: 10%;
    background-color:black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}
button:hover{
    background-color: red;
}
.modal{
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;

}

.modal.show{
    visibility: visible;
    opacity: 1;
}

.modal-content{
    background-color: white;
    max-width: 30%;
    height: 80%;
    margin: auto;
    flex: 1;
    position: relative;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 2em;
}

.modal-header{
    padding-left: 10px;
    height: 5%;
}

.modal-body{
    padding: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-body img{
    height: 150px;
    width: 150px;
}

.modal-footer{
    padding: 10px;
    border-top: 1px;
    text-align: right;
    border-radius: 5px;
}

.btn{
    padding: 5px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.btn-close{
    background-color: red;
    border-radius: 3px;
}

/*------------form-------------------------*/
.modal-content button{
    width: 50%;
    margin-bottom: 10px;
}
form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
input{
    margin-bottom: 10px;
    height: 25px;
    border: 0.3px solid rgb(212, 210, 210);
    margin-bottom: 3%;
    width: 80%;
}
a{
    text-decoration: none;
    color: rgb(161, 156, 156);
}
a:hover{
    color: red;
}