body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}
.footer{
    padding: 10px 0;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}
.footer .social{
    text-align: center;
    /* padding-bottom: 20px; */
    color: white;
}
.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 2px solid rgb(255, 246, 246);
    width: 40px;
    height: 40px;
    display: inline-grid;
    place-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer .social a:hover{
    opacity: 1 ;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: white;
}
#footer-body{
    display: flex;
    justify-content: space-around;
}
#footer-body #contact{
    width: 40%;
    border-right: 1px solid rgb(204, 201, 201);
}
#copyright{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
footer img{
    height: 150px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-bottom: 3%;
}

@media (max-width: 800px) {

    #footer-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        
    }

    #footer-body div:nth-child(2){
        text-align: center;
    }

    #footer-body #contact{
        width: 100%;
        text-align: center;
    }

    #copyright {
        text-align: center;
    }
}