body{
    margin: 0;
    overflow-x: hidden;
}
/* header div{
    height: 30px;
} */
#icons{
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    margin-left: 70%;
    margin-top: 20px;
    margin-bottom: 5px;
}
i{
    margin-left: 5px;
}
input{
    margin-bottom: 10px;
    height: 25px;
    border: 0.3px solid rgb(212, 210, 210);
    margin-bottom: 3%;
    width: 200px;
    background-color: #f7f7f7;
}
img{
    height: 50px;
    width: 50px;
}
#header-body{
    height: 50%;
    margin-top: 2px;
    background-color: black;
    color: white;
}
nav{
    background-color: black;
    color: white;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.conteneur-nav{
    width: 80%;
}
.conteneur-nav #container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#icons ul li{
    list-style: none;
}
#icons ul{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    width: 200px;
    margin-top: 20px;
    position: absolute;
    top: 50px;
    left: 0;
}
#icons > i :hover ul{
    display: block;
}
nav ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav div ul li a{
    color: white;
    text-decoration: none;
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: red;
    border-bottom: 2px solid gray;
}
.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    width: 1250px;
    margin-top: 50px;
    position: absolute;
    top: 50px;
    left: 0;
}
nav > div > ul li:hover .sous{
    display: flex;
    justify-content: space-evenly;
}
.sous a{
    border-bottom: none;
    background-color: white;
    color: black;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    font-size: 12px;
}
.sous li ul li a{
    color: gray;
}
header button{
    border: none;
    background: none;
    cursor: pointer;
}