body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#produits {
    display: flex;
}
#produits #container div img {
    width: 200px;
    height: 250px;
}
#produits #container{
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /* padding-left: 10%; */
    margin-top: 20px;
}
#produits #container div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    padding-right: 20px;
    margin-right: calc(100% / 10);
}
#produits #container div:nth-child(4n){
    margin-right: 0px;
}
#produits button{
	background-color:black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}
#produits button:hover {
	background-color:red;
}
#produits .article_content{
    width:200px;
    height: 50px;

}
#produits #filtre{
    background-color: #eeeded;
    width: 230px;
    height: 80vh;
    margin-top: 20px;
}
#produits .filtre_header{
    height: 5% ;
    background-color: rgb(214, 214, 214);
}
#produits select{
    height: 30px;
    border: 0.3px solid rgb(212, 210, 210);
    margin-top: 50px;
    margin-left: 10px;
}
#produits #filtre form button{
    margin-left: 10px;
}
h1{
    text-align: center;
}
