#nav{
    background: linear-gradient(#f0f0f0, white );
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 0;
}
#nav ul, #nav{
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 5%;
}
#nav ul li{
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    transition: 0.3s;
}
#nav li:hover {
    padding-left: 5%;
}
#nav a{
    text-decoration: none;
    color: black;
}
#nav a:hover{
    color: red;
}
