body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    text-align: center;
}
.articles-panier table{
    width: 65vw;
}
#grand-container{
    display: flex;
}
.article{
    align-items: center;
    text-align: center;
}
input[type="number"]{
    width: 30px;
}
th{
    width: 100px;
    text-align: left;
}
#resume{
    background-color: #f5f5f5;
    width: 30%;
    min-height: 50vh;
}
h2{
    margin-left: 10px;
}
hr{
    border: black;
    background-color: black;
    height: 1px;
    width: 95%
}
#resume table{
    width: 35vw;
    margin-left: 10px;
}
.bouton-noir{
    width: 80%;
    height: 30px;
    background-color:black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
    margin-left: 40px;
}
.bouton-noir:hover{
    background-color: red;
}
.articles-panier .bouton-noir{
    width: 20%;
    height: 10%;
    margin-left: 75%;
}
i{
    font-size: 1em;
    margin-left: 5%;
    cursor: pointer;
}
.btn-mdc{
    border: none;
    background: none;
    cursor: pointer;
    color: #007185;
    border-right: 0.5px solid #858383;
}
.btn-group form{
    display: flex;
    width: 100%;
    /* margin-left: 100px; */
}
.btn-group{
    margin-left: 83%;
}
img{
    width: 150px;
    height: 150px;
    margin-left: 10px;
}