body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#produit img{
    height: 80vh;
    width: 40vw;
}

#produit #container-produit{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#produit #container-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    padding: 20px;
}

#produit #container-description #social-form {
    display: flex;
    gap: 10px;
}

#produit #container-description #social-form button {
    width: 60px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#produit #container-description button {
	background-color:black;
	display:flex;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}
#produit #container-description button:hover {
	background-color:red;
}
#produit #input-number {
    height:30px;
    width:50px;
    border: 1px solid black;
}
#produit #description {
    width: 90%;
    font-size: 14px;
}
#produit #taille{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#produit #taille form div{
    display: flex;
    margin: 20px 0px;
    align-items: center;
}
#produit select{
    height: 30px;
    border: 0.3px solid rgb(212, 210, 210);
}
#produit #containercomment {
    margin-left: 50px;
   width: 50%;
   margin-bottom: 50px;
}
#produit #poster-reponse  {
   margin-left: 30px;
}
#produit #container-reponse .reponse{
   margin-left: 30px;
}
#produit .reponse{
   background-color: #f5f5f5;
   height: 50px;
   padding-top: 10px;
   padding-left: 10px;
}
#produit input{
   width: 50%;
   height: 25px;
   border: 0.3px solid rgb(212, 210, 210);
   margin-bottom: 0px;
}
#produit #containercomment button{
   cursor:pointer;
   background:none;
   border: none;
   color:#007185;
}
#produit #container-description #add-cart-button{
    width: auto;
}
#produit #containercomment button:hover{
   text-decoration: underline;
}
#produit #submit-commentaire{
   width: 20%;
   height: 40px;
   background-color:black;
   display:inline-block;
   cursor:pointer;
   color:white;
   font-family:Arial;
   font-size:15px;
   padding:6px 15px;
   text-decoration:none;
   border: none;
   margin-left: 40px;
}
#produit #submit-commentaire:hover{
   background-color: red;
}
#produit textarea{
   width: 30%;
   border: 0.3px solid rgb(212, 210, 210);
   margin-bottom: 3%;
   margin-left: 20px;
}
#produit #form-rep{
   display: flex;
   margin-left: 40px;
   justify-content: space-between;
}
h2{
    margin-left: 20px;
}

@media (max-width: 1024px){
    #produit #container-produit {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
    }

    #produit #container-produit #container-img {
        width: 100%;
    }

    #produit #container-produit #container-description {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #produit img {
        width: 100%;
    }
}