body{
    overflow-x: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    height: 80vh;
    width: 40vw;
}
#container-produit{
    display: flex;
    justify-content: space-evenly;
}
#container-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 100%;
    gap: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
#container-description button {
	background-color:black;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
    border: none;
}
#container-description button:hover {
	background-color:red;
}
#input-number {
    height:30px;
    width:50px;
    border: 1px solid black;
}
#description {
    font-size: 14px;
}
 #taille form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#taille form div{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
select{
    height: 30px;
    border: 0.3px solid rgb(212, 210, 210);
}
#containercomment {
    margin-left: 50px;
   width: 50%;
   margin-bottom: 50px;
}
#poster-reponse  {
   margin-left: 30px;
}
#container-reponse .reponse{
   margin-left: 30px;
}
.reponse{
   background-color: #f5f5f5;
   height: 50px;
   padding-top: 10px;
   padding-left: 10px;
}
input{
   width: 50%;
   height: 25px;
   border: 0.3px solid rgb(212, 210, 210);
   margin-bottom: 3%;
}
#containercomment button{
   width: 40%;
   cursor:pointer;
   background:none;
   border: none;
   color:#007185;
}
#containercomment button:hover{
   text-decoration: underline;
}
#submit-commentaire{
   width: 20%;
   height: 40px;
   background-color:black;
   display:inline-block;
   cursor:pointer;
   color:white;
   font-family:Arial;
   font-size:15px;
   padding:6px 15px;
   text-decoration:none;
   border: none;
   margin-left: 40px;
}
#submit-commentaire:hover{
   background-color: red;
}
textarea{
   width: 30%;
   border: 0.3px solid rgb(212, 210, 210);
   margin-bottom: 3%;
}
#form-rep{
   display: flex;
   margin-left: 40px;
   justify-content: space-between;
}