body{
    overflow-x: hidden;
    /* margin: 10px; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#profil .parent {
    display: grid;
    grid-template-columns: repeat(2, 55%);
    grid-template-rows: 40% 15% 60% repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0px;
    margin-left: 3%;
}
#profil .div1 {
    grid-area: 1 / 1 / 2 / 2;
}
#profil .div2 {
    grid-area: 2 / 1 / 3 / 2;
}
#profil .div3 {
    grid-area: 3 / 1 / 4 / 2;
}
#profil .div4 {
    grid-area: 3 / 2 / 4 / 3;
}
#profil .div1, .div3, .div4 {
    background-color: #f0f0f0;
}
#profil p, h3, a{
    margin-left: 20px;
}
#profil #container h2{
    margin-left: 40px;
    font-size: 1em;
}
#profil h1{
    text-align: center;
}
#profil a{
    text-decoration: none;
    color: red;
}
#profil hr{
    border: 1px solid black;
    background-color: black;
    width: 90%;
}
#profil{
    display: flex;
}
#profil #nav{
    background: linear-gradient(#f0f0f0, white );
    height: 100vh;
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}
#profil #nav ul, #nav a{
    list-style: none;
    text-decoration: none;
    color: black;
    padding-left: 0%;
}
#profil #nav ul li{
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
    transition: 0.3s;
}
#profil #nav li:hover {
    padding-left: 5%;
}
#profil #nav a:hover{
    color: red;
}
#profil img{
    height: 200px;
    width: 200px;
    margin-left: 25%;
}
#profil h2, h3{
    font-size: 1em;
}