<link rel="stylesheet" href="css/modal.css">
<script src="js/script.js" defer></script>
<body>
    <main>
        <button role='button' data-target='#modal' data-toggle='modal' id='connexion-link'>dcfvgbh</button>
        <!-- <a href='#' role='button' data-target='#modal' data-toggle='modal' id='connexion-link'>Se connecter</a> -->
        <div class="modal" id="modal" role="dialog">
            <div class="modal-content">
                <div class="modal-close" data-dismiss="dialog">X</div>
                <div class="modal-header">
                    <p>Se connecter</p>
                </div>
                <div class="modal-body">
                    <h1>ibrahim</h1>
                </div>
            </div>
        </div>
    </main>
</body>